/* Scenario.module.css */

.timer {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  max-width: 500px;
  min-height: 500px;
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exitButton {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.exitButton:hover {
  background-color: #d32f2f;
}

.mcqChoice {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.mcqChoice.active,
.mcqChoice:hover.active {
  background-color: #ddf4ff;
}

.mcqChoice:hover {
  background-color: #ddd;
}

ul.mcqChoices {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 500px;
  width: 100%;
}

.ctaButton {
  display: block;
  padding: 10px 20px;
  background-color: #58cc02;
  border: 1px solid #61e001;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  color: #fff;
}

.ctaButton:hover {
  background-color: #61e001;
}

.ctaButton.challenge {
  background-color: #d9782e;
  border: 1px solid #d9782e;
}
.ctaButton.challenge:hover {
  background-color: #e88030;
}

.character {
  width: 200px;
  margin-bottom: -5px;
  margin-left: -43px;
}


blockquote.bubble {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 1;
}
.speech {
  position: relative;
  background: #00aabb;
  border-radius: 20px;
  border: 1px solid #018694;
  padding: 20px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}
.speech.challenge {
  background: rgb(183 137 102);
}
.speech.challenge:after {
  border-bottom-color: rgb(183 137 102);
}

.speech.oracle:after {
  border: none;
}

.speech:after {
  content: "";
  position: absolute;
  top: 0;
  left: 25%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #00aabb;
  border-top: 0;
  border-left: 0;
  margin-left: -10px;
  margin-top: -20px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.header > * {
  flex-basis: auto;
}

.progress {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.progress > * {
  margin: 5px;
  flex-basis: auto;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
}
.progressText {
}
.progressBar {
  width: 40%;
  background-color: #fff;
  border: 3px solid #000;
  height: 20px;
  margin-left: 10%;
}
.progressBarInner {
  height: 20px;
  background-color: rgb(71, 71, 71);
}

.points {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 10px;
}
.pointsIcon {
  width: 20px;
  height: 20px;
}

.slideButtonContainer {
  display: flex;
  justify-content: space-between;
}

.slideContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 500px;
  width: 100%;
}

.sceneContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 500px;
  width: 100%;
  position: relative;
}

.sceneContainer > div {
  width: 100%;
}

.slideImage {
  max-width: 500px;
  max-height: 200px;
  margin-bottom: 20px;
}

.loading {
  width: 500px;
  height: 500px;
}


.sceneImage {
  width: 40%;
    /* margin-bottom: 20%; */
    position: absolute;
    top: 0;
    right: 0;
  /* margin-left: 30%; */
    /* width: 40%; */
    /* margin-left: 30%;
    width: 40%;
    margin-bottom: 20%; */
}

.audioPlayerContainer {
  padding: 5px;
  border: 1px solid #018694;
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}