
.scenarioList {
  /* padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.container img {
  margin-top: 10px;
  padding: 15px;
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.title {
  color: #333;
  text-align: center;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.listItem:hover {
  background-color: #e9e9e9;
}

.link {
  text-decoration: none;
  color: #5c6bc0;
  font-weight: bold;
}
