/* Scenario.module.css */
.container {
  
}

.card {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  max-width: 500px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exitButton {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.exitButton:hover {
  background-color: #d32f2f;
}

.mcqChoice {
  display: block;
  width:  100%;;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.mcqChoice.active, .mcqChoice:hover.active {
  background-color: #ddf4ff;
}

.mcqChoice:hover {
  background-color: #ddd;
}

ul.mcqChoices {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 500px;
}

.mcqCheck {
  display: block;
  padding: 10px 20px;
  background-color: #58cc02;
  border: 1px solid #61e001;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  color: #fff;
}

.mcqCheck:hover {
  background-color: #61e001;
}

.character {
  width: 100px;
}

blockquote.bubble { 
	background-position: center;
  background-repeat: no-repeat !important;
	background-size: 100% 100%;
  margin: 0 auto;
	text-align: center;
	height: 0;
	box-sizing: content-box;
	line-height: 1;
}
.speech {
  position: relative;
  background: #00aabb;
  border-radius: 20px;
  border: 1px solid white;
  padding: 20px;
  color: white;
}

.speech:after {
	content: '';
	position: absolute;
	top: 0;
	left: 25%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}

.header {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.header > * {
  flex-basis: auto;
}

.progress {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.progress > * {
  margin: 5px;
  flex-basis: auto;
}
.progressText {
}
.progressBar {
  width: 30%;
  background-color: #ddd;
  border: 1px solid #ccc;
  height: 20px;
}
.progressBarInner {
  height: 20px;
  background-color: rgb(71, 71, 71);
}

.points {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 10px;
}
.pointsIcon {
  width: 20px;
  height: 20px;
}